In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Loading Data

In [ ]:





import json
import pandas as pd
!pip install alive-progress
from alive_progress.styles import showtime
from alive_progress import alive_bar
import time
from time import sleep
from tqdm.notebook import tqdm

Collecting alive-progress
  Downloading alive_progress-3.2.0-py3-none-any.whl.metadata (70 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 70.6/70.6 kB 1.9 MB/s eta 0:00:00
Collecting about-time==4.2.1 (from alive-progress)
  Downloading about_time-4.2.1-py3-none-any.whl.metadata (13 kB)
Collecting grapheme==0.6.0 (from alive-progress)
  Downloading grapheme-0.6.0.tar.gz (207 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 207.3/207.3 kB 6.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Downloading alive_progress-3.2.0-py3-none-any.whl (77 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 77.1/77.1 kB 4.9 MB/s eta 0:00:00
Downloading about_time-4.2.1-py3-none-any.whl (13 kB)
Building wheels for collected packages: grapheme
  Building wheel for grapheme (setup.py) ... done
  Created wheel for grapheme: filename=grapheme-0.6.0-py3-none-any.whl size=210082 sha256=d3b226e281986527b406941628adf9b45d2edc074a1d01868f2020988550eef6
  Stored in directory: /root/.cache/pip/wheels/01/e1/49/37e6bde9886439057450c494a79b0bef8bbe897a54aebfc757
Successfully built grapheme
Installing collected packages: grapheme, about-time, alive-progress
Successfully installed about-time-4.2.1 alive-progress-3.2.0 grapheme-0.6.0

In [ ]:
#loading scores
with open(r'/content/drive/MyDrive/Level Data Datasets/2023 District 18 Scores.json') as scores_data:
    sc_json = json.load(scores_data)

    #assign dataframe
    ld_scores = pd.DataFrame(sc_json['SELECT s.id, s.districtId, sc.*\r\nFROM aim2.students s\r\nJOIN aim2.scores sc ON s.id = sc.studentId \r\nWHERE s.districtId = 18'])
    # we will be making many changes to ld_scores, let us save for later the original dataframe.
    # note: this cell takes a LONG time

In [ ]:
    # we will be making many changes to ld_scores, let us save for later the original dataframe.
    # note: this cell takes a LONG time
    ld_scores_original = ld_scores.copy()

In [ ]:
#loading benchmarks
with open(r'/content/drive/MyDrive/Level Data Datasets/benchmarks_202410011642.json') as benchmarks_data:
    benchmarks_json = json.load(benchmarks_data)
    ld_benchmarks = pd.DataFrame(benchmarks_json['benchmarks'])

In [ ]:
#load schools
with open(r'/content/drive/MyDrive/Level Data Datasets/District 18 Anonymized Schools.json') as schools_data:
    schools_json = json.load(schools_data)
    #assign dataframe
    ld_schools = pd.DataFrame(schools_json['schools'])

In [ ]:
#load vendor student usage
with open(r'/content/drive/MyDrive/Level Data Datasets/2023 District 18 Vendor Student Usage.json') as vendor_data:
    vendor_json = json.load(vendor_data)
    #assign dataframe
    ld_vendorUsage = pd.DataFrame(vendor_json['SELECT s.districtId, sc.studentId, sc.`year` , sc.vendorId, sc.active, sc.usageTypeId, sc.weeklyUsageMinutes \r\nFROM aim2.students s\r\nJOIN aim2.vendorStudentUsage sc ON s.id = sc.studentId \r\nWHERE s.districtId = 18 AND sc.`year` = 2023'])

In [ ]:
#load student attributes
with open(r'/content/drive/MyDrive/Level Data Datasets/2023 District 18 Student Attributes.json') as student_attributes_data:
    student_attributes_json = json.load(student_attributes_data)
    ld_attributes = pd.DataFrame(student_attributes_json['SELECT s.districtId, sc.studentId, sc.`year` , sc.value \r\nFROM aim2.students s\r\nJOIN aim2.studentCustomAttributes sc ON s.id = sc.studentId \r\nWHERE s.districtId = 18'])

In [ ]:
#load vendor usage types
with open(r'/content/drive/MyDrive/Level Data Datasets/District 18 Vendor Usage Types.json') as vendor_ref_data:
    vendor_ref_json = json.load(vendor_ref_data)
    ld_vendorTypes = pd.DataFrame(vendor_ref_json['vendorUsageTypes'])

# Vendor Inspection
Finding exactly what columns we need to include in our scores datatable

In [ ]:
ld_vendorTypes['name'].unique()

array(['IXL Reading Non', 'IXL Reading Partial', 'IXL Reading User',
       'IXL Math Non User', 'IXL Math Partial ', 'IXL Math User',
       'MyOn R User', 'MyOn R Partial User', 'MyOn R Non User',
       'Freckle R User', 'Freckle R Partial User', 'Freckle R Non User',
       'Freckle M User', 'Freckle M Partial User', 'Freckle M Non User ',
       'Freckle Sci User', 'Freckle Sci Partial User',
       'Freckle Sci NonUser', 'Freckle SS User', 'Freckle SS PartialUser',
       'Freckle SS NonUser', 'IXL Science User', 'IXL Science Non User',
       'IXL Science Partial', 'IXL SS User', 'IXL SS Non',
       'IXL SS Partial', 'Freckle M Adaptive User',
       'Freckle M Adaptive Partial User', 'Freckle M Adaptive Non User',
       'Freckle M Target User', 'Freckle M Target Partial User',
       'Freckle M Target Non User', 'Beable ELA User',
       'Beable ELA Partial User', 'Beable Non User', 'AR User',
       'AR Partial User', 'AR Non User', 'Reflex M User',
       'Reflex M Partial User', 'Reflex M Non User', 'Frax M User',
       'Frax M Partial User', 'Frax M Non User'], dtype=object)

In [ ]:
#'Beable Non User' doesn't match the 'Beable ELA [usetype]' syntax, change to 'Beable ELA Non User'
ld_vendorTypes['name'] = ld_vendorTypes['name'].replace('Beable Non User', 'Beable ELA Non User')

In [ ]:
ld_vendorTypes['usageTypeId'].value_counts()
#we need to cut down on this. Let us inspect to make certain that these repeat values are useless

usageTypeId
2     20
1     19
3     19
7     15
8     13
9     13
4     10
5     10
6     10
11    10
12    10
39    10
38    10
37    10
44     9
43     9
45     9
10     9
42     8
41     8
40     8
13     5
14     5
15     5
18     3
17     3
16     3
31     2
33     2
32     2
30     2
29     2
28     2
23     2
22     2
24     2
19     1
34     1
35     1
36     1
26     1
27     1
25     1
21     1
20     1
Name: count, dtype: int64

In [ ]:
ld_attributes.value.value_counts()

value
11    203
12    134
Name: count, dtype: int64

In [ ]:
def auditNameSymmetry(usageTypeId, df): #may expand this function to check any dataframe for symmetry in any column. for now, unneccessary
  df_subset = df[df['usageTypeId']==usageTypeId]['name']
  if (df_subset.value_counts().shape[0] != 1):
    return False
  return True

  #this function ensures that for a given dataframe and usagetypeid, the name is the same for all elements

In [ ]:
for usageTypeId in (ld_vendorTypes['usageTypeId'].unique()):
  print(auditNameSymmetry(usageTypeId, ld_vendorTypes)) #great, we know that extra values are redundant. By inspection, they only differ by initiativeId

True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True

Alright, let us now trim the fat on the vendorTypes. Let us make a new dataframe.

In [ ]:
ld_trimmedVendorTypes = ld_vendorTypes[['usageTypeId', 'name','utilBucketType','id']]
ld_trimmedVendorTypes.head()

   usageTypeId                 name utilBucketType  id
0            1      IXL Reading Non        nonUser   4
1            2  IXL Reading Partial    partialUser   5
2            3     IXL Reading User       fullUser   6
3            4    IXL Math Non User        nonUser   7
4            5    IXL Math Partial     partialUser   8

In [ ]:
ld_trimmedVendorTypes = ld_trimmedVendorTypes.drop_duplicates(subset=['usageTypeId'], keep='first')
ld_trimmedVendorTypes = ld_trimmedVendorTypes.reset_index(drop=True)
ld_trimmedVendorTypes['usageTypeId'].value_counts()

usageTypeId
1     1
23    1
27    1
26    1
28    1
29    1
30    1
31    1
32    1
33    1
34    1
35    1
36    1
37    1
38    1
39    1
40    1
41    1
42    1
43    1
44    1
25    1
24    1
2     1
22    1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    1
15    1
16    1
17    1
18    1
19    1
20    1
21    1
45    1
Name: count, dtype: int64

Great. Now we have to find out all the columns we need to add. Really, we need to find all the product names. Let Gemini do this, and verify results.

In [ ]:

import re

def extract_product_name(name):
  """
  Extracts the product name from a vendor usage type name by removing
  keywords like 'Partial', 'Non User', 'NonUser', or 'User'.
  """
  name = re.sub(r'\b(Partial|Non User|NonUser|User|Non|PartialUser)\b', '', name)
  name = name.strip()
  return name

# Apply the function to the 'name' column and create a new column 'product_name'
ld_trimmedVendorTypes['product_name'] = ld_trimmedVendorTypes['name'].apply(extract_product_name)

# Print the updated DataFrame to verify
print(ld_trimmedVendorTypes[['name', 'product_name']])

                               name        product_name
0                   IXL Reading Non         IXL Reading
1               IXL Reading Partial         IXL Reading
2                  IXL Reading User         IXL Reading
3                 IXL Math Non User            IXL Math
4                 IXL Math Partial             IXL Math
5                     IXL Math User            IXL Math
6                       MyOn R User              MyOn R
7               MyOn R Partial User              MyOn R
8                   MyOn R Non User              MyOn R
9                    Freckle R User           Freckle R
10           Freckle R Partial User           Freckle R
11               Freckle R Non User           Freckle R
12                   Freckle M User           Freckle M
13           Freckle M Partial User           Freckle M
14              Freckle M Non User            Freckle M
15                 Freckle Sci User         Freckle Sci
16         Freckle Sci Partial User         Freckle Sci
17              Freckle Sci NonUser         Freckle Sci
18                  Freckle SS User          Freckle SS
19           Freckle SS PartialUser          Freckle SS
20               Freckle SS NonUser          Freckle SS
21                 IXL Science User         IXL Science
22             IXL Science Non User         IXL Science
23              IXL Science Partial         IXL Science
24                      IXL SS User              IXL SS
25                       IXL SS Non              IXL SS
26                   IXL SS Partial              IXL SS
27          Freckle M Adaptive User  Freckle M Adaptive
28  Freckle M Adaptive Partial User  Freckle M Adaptive
29      Freckle M Adaptive Non User  Freckle M Adaptive
30            Freckle M Target User    Freckle M Target
31    Freckle M Target Partial User    Freckle M Target
32        Freckle M Target Non User    Freckle M Target
33                  Beable ELA User          Beable ELA
34          Beable ELA Partial User          Beable ELA
35              Beable ELA Non User          Beable ELA
36                          AR User                  AR
37                  AR Partial User                  AR
38                      AR Non User                  AR
39                    Reflex M User            Reflex M
40            Reflex M Partial User            Reflex M
41                Reflex M Non User            Reflex M
42                      Frax M User              Frax M
43              Frax M Partial User              Frax M
44                  Frax M Non User              Frax M

This looks great. Now, let's make a column to associate usage type with a number 0-2. Let Gemini do this too.

In [ ]:
ld_trimmedVendorTypes

,usageTypeId,name,utilBucketType,id,product_name
0,1,IXL Reading Non,nonUser,4,IXL Reading
1,2,IXL Reading Partial,partialUser,5,IXL Reading
2,3,IXL Reading User,fullUser,6,IXL Reading
3,4,IXL Math Non User,nonUser,7,IXL Math
4,5,IXL Math Partial,partialUser,8,IXL Math
5,6,IXL Math User,fullUser,9,IXL Math
6,7,MyOn R User,fullUser,853,MyOn R
7,8,MyOn R Partial User,partialUser,854,MyOn R
8,9,MyOn R Non User,nonUser,855,MyOn R
9,10,Freckle R User,fullUser,1130,Freckle R
10,11,Freckle R Partial User,partialUser,1131,Freckle R
11,12,Freckle R Non User,nonUser,1132,Freckle R
12,13,Freckle M User,fullUser,1133,Freckle M
13,14,Freckle M Partial User,partialUser,1134,Freckle M
14,15,Freckle M Non User,nonUser,1135,Freckle M
15,16,Freckle Sci User,fullUser,1911,Freckle Sci
16,17,Freckle Sci Partial User,partialUser,1912,Freckle Sci
17,18,Freckle Sci NonUser,nonUser,1913,Freckle Sci
18,19,Freckle SS User,fullUser,1914,Freckle SS
19,20,Freckle SS PartialUser,partialUser,1915,Freckle SS
20,21,Freckle SS NonUser,nonUser,1916,Freckle SS
21,22,IXL Science User,fullUser,4302,IXL Science
22,24,IXL Science Non User,nonUser,4303,IXL Science
23,23,IXL Science Partial,partialUser,4304,IXL Science
24,25,IXL SS User,fullUser,4305,IXL SS
25,27,IXL SS Non,nonUser,4306,IXL SS
26,26,IXL SS Partial,partialUser,4307,IXL SS
27,28,Freckle M Adaptive User,fullUser,5754,Freckle M Adaptive
28,29,Freckle M Adaptive Partial User,partialUser,5755,Freckle M Adaptive
29,30,Freckle M Adaptive Non User,nonUser,5756,Freckle M Adaptive
30,31,Freckle M Target User,fullUser,5757,Freckle M Target
31,32,Freckle M Target Partial User,partialUser,5758,Freckle M Target
32,33,Freckle M Target Non User,nonUser,5759,Freckle M Target
33,34,Beable ELA User,fullUser,6038,Beable ELA
34,35,Beable ELA Partial User,partialUser,6039,Beable ELA
35,36,Beable ELA Non User,nonUser,6040,Beable ELA
36,37,AR User,fullUser,11276,AR
37,38,AR Partial User,partialUser,11277,AR
38,39,AR Non User,nonUser,11278,AR
39,40,Reflex M User,fullUser,11680,Reflex M
40,41,Reflex M Partial User,partialUser,11681,Reflex M
41,42,Reflex M Non User,nonUser,11682,Reflex M
42,43,Frax M User,fullUser,11704,Frax M
43,44,Frax M Partial User,partialUser,11705,Frax M
44,45,Frax M Non User,nonUser,11706,Frax M

In [ ]:
def map_util_bucket_type(util_bucket_type):
  """Maps utilBucketType to an integer."""
  if util_bucket_type == 'nonUser':
    return 0
  elif util_bucket_type == 'partialUser':
    return 1
  elif util_bucket_type == 'fullUser':
    return 2
  else:
    return -1

# Apply the function to create the new column
ld_trimmedVendorTypes['productUse_int'] = ld_trimmedVendorTypes['utilBucketType'].apply(map_util_bucket_type)

# Print the updated DataFrame to verify
#print(ld_trimmedVendorTypes[['utilBucketType', 'productUse_int']])
# Looks good, let's not clutter

In [ ]:
ld_trimmedVendorTypes

,usageTypeId,name,utilBucketType,id,product_name,productUse_int
0,1,IXL Reading Non,nonUser,4,IXL Reading,0
1,2,IXL Reading Partial,partialUser,5,IXL Reading,1
2,3,IXL Reading User,fullUser,6,IXL Reading,2
3,4,IXL Math Non User,nonUser,7,IXL Math,0
4,5,IXL Math Partial,partialUser,8,IXL Math,1
5,6,IXL Math User,fullUser,9,IXL Math,2
6,7,MyOn R User,fullUser,853,MyOn R,2
7,8,MyOn R Partial User,partialUser,854,MyOn R,1
8,9,MyOn R Non User,nonUser,855,MyOn R,0
9,10,Freckle R User,fullUser,1130,Freckle R,2
10,11,Freckle R Partial User,partialUser,1131,Freckle R,1
11,12,Freckle R Non User,nonUser,1132,Freckle R,0
12,13,Freckle M User,fullUser,1133,Freckle M,2
13,14,Freckle M Partial User,partialUser,1134,Freckle M,1
14,15,Freckle M Non User,nonUser,1135,Freckle M,0
15,16,Freckle Sci User,fullUser,1911,Freckle Sci,2
16,17,Freckle Sci Partial User,partialUser,1912,Freckle Sci,1
17,18,Freckle Sci NonUser,nonUser,1913,Freckle Sci,0
18,19,Freckle SS User,fullUser,1914,Freckle SS,2
19,20,Freckle SS PartialUser,partialUser,1915,Freckle SS,1
20,21,Freckle SS NonUser,nonUser,1916,Freckle SS,0
21,22,IXL Science User,fullUser,4302,IXL Science,2
22,24,IXL Science Non User,nonUser,4303,IXL Science,0
23,23,IXL Science Partial,partialUser,4304,IXL Science,1
24,25,IXL SS User,fullUser,4305,IXL SS,2
25,27,IXL SS Non,nonUser,4306,IXL SS,0
26,26,IXL SS Partial,partialUser,4307,IXL SS,1
27,28,Freckle M Adaptive User,fullUser,5754,Freckle M Adaptive,2
28,29,Freckle M Adaptive Partial User,partialUser,5755,Freckle M Adaptive,1
29,30,Freckle M Adaptive Non User,nonUser,5756,Freckle M Adaptive,0
30,31,Freckle M Target User,fullUser,5757,Freckle M Target,2
31,32,Freckle M Target Partial User,partialUser,5758,Freckle M Target,1
32,33,Freckle M Target Non User,nonUser,5759,Freckle M Target,0
33,34,Beable ELA User,fullUser,6038,Beable ELA,2
34,35,Beable ELA Partial User,partialUser,6039,Beable ELA,1
35,36,Beable ELA Non User,nonUser,6040,Beable ELA,0
36,37,AR User,fullUser,11276,AR,2
37,38,AR Partial User,partialUser,11277,AR,1
38,39,AR Non User,nonUser,11278,AR,0
39,40,Reflex M User,fullUser,11680,Reflex M,2
40,41,Reflex M Partial User,partialUser,11681,Reflex M,1
41,42,Reflex M Non User,nonUser,11682,Reflex M,0
42,43,Frax M User,fullUser,11704,Frax M,2
43,44,Frax M Partial User,partialUser,11705,Frax M,1
44,45,Frax M Non User,nonUser,11706,Frax M,0

In [ ]:
venProductList = ld_trimmedVendorTypes['product_name'].unique()
venProductList
# venProductList = ['IXL Reading', 'IXL Math', 'MyOn R', 'Freckle R', 'Freckle M', 'Freckle Sci', 'Freckle SS', 'IXL Science', 'IXL SS', 'Freckle M Adaptive', 'Freckle M Target', 'Beable ELA', 'AR User', 'Reflex M', 'Frax M']

array(['IXL Reading', 'IXL Math', 'MyOn R', 'Freckle R', 'Freckle M',
       'Freckle Sci', 'Freckle SS', 'IXL Science', 'IXL SS',
       'Freckle M Adaptive', 'Freckle M Target', 'Beable ELA', 'AR',
       'Reflex M', 'Frax M'], dtype=object)

We want to add a number of columns to our ld_scores dataframe. First, we want to add and populate all the product use columns. Second, we want to one hot encode the attributes that we have data for. The first one is harder and more important, let's start there.

In [ ]:
ld_vendorUsage.head()

,districtId,studentId,year,vendorId,active,usageTypeId,weeklyUsageMinutes
0,18,1480117,2023,140472,0,39,4
1,18,1480117,2023,11333,0,6,0
2,18,1480117,2023,72609,0,3,0
3,18,1480118,2023,140472,0,39,4
4,18,1480118,2023,11333,0,6,0
...,...,...,...,...,...,...,...
70310,18,1804199,2023,11333,0,4,0
70311,18,1804199,2023,72609,0,1,0
70312,18,1804201,2023,11333,0,4,0
70313,18,1804201,2023,72609,0,1,0
70314,18,1804201,2023,140472,0,39,4

We need to associate each item here with the scores data set by studentID. Then, we need to light up the rows product with its productUse_int from trimmed vendor types. First, let us trim vendorUsage for this purpose, and append the necessary columns to the scores dataset.

TODO for later, should we start caring about weekly usage minutes?

In [ ]:
ld_trimmedVendorUsage = ld_vendorUsage[['studentId', 'usageTypeId']]
ld_trimmedVendorUsage.head()

   studentId  usageTypeId
0    1480117           39
1    1480117            6
2    1480117            3
3    1480118           39
4    1480118            6

In [ ]:
for product_name in venProductList:
  ld_scores["user_" + product_name] = 0

Before we make a bunch of changes to ld_scores, why don't we take out all the columns we don't need? We will also sort by studentId so any search algorithms we do can use binary search

In [ ]:
# TODO, take out test scores that are useless
ld_scores_original['studentId'].value_counts()

studentId
1483818    19
1802905    19
1490116    19
1487272    19
1803268    19
           ..
1492164     1
1492170     1
1804160     1
1804159     1
1492322     1
Name: count, Length: 11633, dtype: int64

In [ ]:
len(ld_vendorUsage['studentId'].unique())

11654

In [ ]:
ld_vendorUsage[ld_vendorUsage['studentId']==1488823]

,districtId,studentId,year,vendorId,active,usageTypeId,weeklyUsageMinutes
42138,18,1488823,2023,11333,0,6,0
42139,18,1488823,2023,72609,0,2,0
42140,18,1488823,2023,140472,0,37,120
42141,18,1488823,2023,140574,0,40,0

In [ ]:
ld_scores[ld_scores['studentId']==1488823]

,id,districtId,subgroup_TCAPELALevel,ticket,studentId,studentLevel,year,scoreDate,measurementTypeId,subgroup_specialEd,...,user_Freckle Sci,user_Freckle SS,user_IXL Science,user_IXL SS,user_Freckle M Adaptive,user_Freckle M Target,user_Beable ELA,user_AR,user_Reflex M,user_Frax M
88830,4707976,18,0,,1488823,3,2023,0000-00-00,9,3,...,0,0,0,0,0,0,0,0,0,0
88831,4713836,18,0,,1488823,3,2023,0000-00-00,4,3,...,0,0,0,0,0,0,0,0,0,0
88832,5426110,18,0,,1488823,3,2023,0000-00-00,5,3,...,0,0,0,0,0,0,0,0,0,0
88833,7004194,18,0,,1488823,3,2023,0000-00-00,6,3,...,0,0,0,0,0,0,0,0,0,0
88834,7692582,18,0,,1488823,3,2023,0000-00-00,1,3,...,0,0,0,0,0,0,0,0,0,0
88835,7692583,18,0,,1488823,3,2023,0000-00-00,2,3,...,0,0,0,0,0,0,0,0,0,0
88836,7692584,18,0,,1488823,3,2023,0000-00-00,3,3,...,0,0,0,0,0,0,0,0,0,0
88837,7692585,18,0,,1488823,3,2023,0000-00-00,7,3,...,0,0,0,0,0,0,0,0,0,0
88838,7692586,18,0,,1488823,3,2023,0000-00-00,8,3,...,0,0,0,0,0,0,0,0,0,0
88839,7692587,18,0,,1488823,3,2023,0000-00-00,10,3,...,0,0,0,0,0,0,0,0,0,0
88840,7692588,18,0,,1488823,3,2023,0000-00-00,11,3,...,0,0,0,0,0,0,0,0,0,0
88841,7692589,18,0,,1488823,3,2023,0000-00-00,12,3,...,0,0,0,0,0,0,0,0,0,0
88842,7692590,18,0,,1488823,3,2023,0000-00-00,13,3,...,0,0,0,0,0,0,0,0,0,0
88843,7692591,18,0,,1488823,3,2023,0000-00-00,14,3,...,0,0,0,0,0,0,0,0,0,0
88844,7692592,18,0,,1488823,3,2023,0000-00-00,15,3,...,0,0,0,0,0,0,0,0,0,0
88845,7692593,18,0,,1488823,3,2023,0000-00-00,16,3,...,0,0,0,0,0,0,0,0,0,0
88846,7692594,18,0,,1488823,3,2023,0000-00-00,17,3,...,0,0,0,0,0,0,0,0,0,0
88847,7692595,18,0,,1488823,3,2023,0000-00-00,18,3,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
len(ld_scores['studentId'].unique())

11633

Let us now populate the scores data with our data from vendorUsage. However, we will check to see if they conflict for any product. We will construct an ld_scores prime dataframe to hold each unique studentID, which we will then populate with our 'user_*' values

In [ ]:
to_drop = ['ticket', 'subgroup_TCAPELALevel', 'scoreDate', 'subgroup_ethnicity']
ld_scores = ld_scores.drop(columns=to_drop)
#ld_scores.head()

In [ ]:
ld_scores = ld_scores.sort_values('studentId')

In [ ]:
ld_scores.head()

,id,districtId,studentId,studentLevel,year,measurementTypeId,subgroup_specialEd,subgroup_lunchStatus,subgroup_gender,subgroup_ell,...,user_Freckle Sci,user_Freckle SS,user_IXL Science,user_IXL SS,user_Freckle M Adaptive,user_Freckle M Target,user_Beable ELA,user_AR,user_Reflex M,user_Frax M
0,3268686,18,1480117,11,2023,4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,4933778,18,1480117,11,2023,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,5441518,18,1480117,11,2023,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,7263146,18,1480117,11,2023,6,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,7510656,18,1480117,11,2023,7,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Consolidating student data
Before we populate this user data, it will save us time to consolidate the test scores from all these students. Let us average all the the test scores as an approximation of student proficiency.

In [ ]:
def find_non_specified_uniques_from_column(df, column_name, values_to_remove):
    """Removes specified values from a column in a DataFrame and returns unique values.
    Returns:
      A list of unique values in the specified column after removing the specified values.
      Returns an empty list if the column does not exist or is empty.
      This will be used to return every non-zero value
    """
    if column_name not in df.columns:
        print(f"Error: Column '{column_name}' not found in DataFrame.")
        return []

    unique_values = df[column_name].unique().tolist()
    for value in values_to_remove:
      if value in unique_values:
        unique_values.remove(value)
    cleaned_unique_values = unique_values
    return cleaned_unique_values

In [ ]:
def calculate_averages_for_student(student_data):
    """Calculates averages for columns with multiple values for a single student.

    Args:
        student_data (pd.DataFrame): DataFrame containing data for a single student.

    Returns:
        pd.Series: A Series containing the student ID and the averages for relevant columns.
                      Returns None if no columns have multiple unique values other than 0
    """
    if(student_data.empty):
      return None
    if(student_data.shape[0]==1):
      return student_data
    redundant_rows = range(1, (student_data.shape[0]),1)

    result_df = student_data.copy().reset_index(drop=True).drop(index=redundant_rows)
    student_data = student_data.drop(['id','measurementTypeId'], axis=1)

    columns_to_average = [col for col in student_data.columns if len(student_data[col].unique()) > 1]
    if not columns_to_average:
        return None

    for column in columns_to_average:
        # Exclude 0 from the calculation
        checkTheseNulls = [0,'','0','00']
        non_zero_values = find_non_specified_uniques_from_column(student_data, column, checkTheseNulls)
        if len(non_zero_values) > 0:
           average = sum(non_zero_values) / len(non_zero_values)
           result_df[column] = average
        else:
           result_df[column] = 0

    return result_df

# Test this function below
# df = calculate_averages_for_student(sample_student)
# df_transposed = df.T
# check_these = [col for col in sample_student.columns if len(sample_student[col].unique()) > 1]
# df

Alright, not let us check to see how we can consolidate student scores. We will take a look at a few unique students who are repeated much, and take a look at the differences between their unique rows.

In [71]:
sample_student = ld_scores[ld_scores['studentId'] == 1488823]
columns_with_multiple_values = [col for col in sample_student.columns if len(sample_student[col].unique()) > 1]
for column in columns_with_multiple_values:
  print(column)
  print(sample_student[column].unique())

id
[7692595 7692587 7692593 7692592 7692591 7692590 7692589 7692588 7692594
 7692586 7692584 7692583 7692582 7004194 5426110 4713836 4707976 7692585]
measurementTypeId
[18 10 16 15 14 13 12 11 17  8  3  2  1  6  5  4  9  7]
value_starReading
[  0 519 419 546]
value_starMath
[  0 743 618 541]
value_acapELA
[  0 542 551]
value_acapMath
[  0 564 538]
value_acapMathLevel
[0 3]
value_acapELALevel
[0 3 4]
value_acapReadSubscore
[  0 552]
value_lexileStar
[  0 785 575 835]
value_acapLexile
[  0 695 465]
value_starReadingUnified
[   0 1018  980 1027  950]
value_starMathUnified
[   0 1064  987  939  949]
value_caseMathLevelExt
['' '0']
value_AcapElaRc1
[0 2]
value_AcapElaRc2
[0 3]
value_AcapElaRc3
[0 3]
value_AcapElaRc4
[0 3]
value_AcapElaRc5
[0 3]
value_AcapElaRc6
[0 3]
value_AcapElaRc7
[0 2]
value_AcapElaRc8
[0 3]
value_AcapElaRc9
[0 3]
value_AcapElaRc10
[0 2]
value_AcapMathRc1
[0 3]
value_AcapMathRc2
[0 2]
value_AcapMathRc3
[0 3]
value_AcapMathRc4
[0 3]

Great, we can use the function we just made and assume that it will only affect the test values for all students.

In [45]:
ld_scores_experiment = ld_scores.copy()
student_ids = ld_scores_experiment['studentId'].unique()
result_df = pd.DataFrame()

i=0
SIlength = int(len(student_ids))

for j in tqdm(range(i, SIlength)):
    student_id = student_ids[j]
    student_data = ld_scores[ld_scores['studentId'] == student_id]
    avg_df = calculate_averages_for_student(student_data)
    #print(avg_df)
    #avg_df['studentId'] = student_id # Add the studentId to the new row
    result_df = pd.concat([result_df, avg_df], ignore_index=True)
    # if(i%500==0):
    #   print(f"Processed {i} of {SIlength} students")
    # i = i+1

result_df

  0%|          | 0/11633 [00:00<?, ?it/s]

,id,districtId,studentId,studentLevel,year,measurementTypeId,subgroup_specialEd,subgroup_lunchStatus,subgroup_gender,subgroup_ell,...,user_Freckle Sci,user_Freckle SS,user_IXL Science,user_IXL SS,user_Freckle M Adaptive,user_Freckle M Target,user_Beable ELA,user_AR,user_Reflex M,user_Frax M
0,3268686,18,1480117,11.0,2023,4,0.0,0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,4933508,18,1480118,12.0,2023,1,0.0,0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,4933512,18,1480120,12.0,2023,1,0.0,0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,7517559,18,1480121,12.0,2023,3,0.0,0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,4933502,18,1480122,12.0,2023,1,0.0,0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11619,7719100,18,2513584,2.0,2023,13,3.0,0,2.0,2.0,...,0,0,0,0,0,0,0,0,0,0
11620,7452821,18,2513586,0.0,2023,6,0.0,0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
11621,7452745,18,2513587,0.0,2023,5,0.0,0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
11622,7452823,18,2513589,0.0,2023,6,0.0,0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
11623,7719114,18,2513590,2.0,2023,10,3.0,0,1.0,2.0,...,0,0,0,0,0,0,0,0,0,0

Let's take a look at this new dataset

In [46]:
result_df.head(10)

,id,districtId,studentId,studentLevel,year,measurementTypeId,subgroup_specialEd,subgroup_lunchStatus,subgroup_gender,subgroup_ell,...,user_Freckle Sci,user_Freckle SS,user_IXL Science,user_IXL SS,user_Freckle M Adaptive,user_Freckle M Target,user_Beable ELA,user_AR,user_Reflex M,user_Frax M
0,3268686,18,1480117,11.0,2023,4,0.0,0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,4933508,18,1480118,12.0,2023,1,0.0,0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,4933512,18,1480120,12.0,2023,1,0.0,0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,7517559,18,1480121,12.0,2023,3,0.0,0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,4933502,18,1480122,12.0,2023,1,0.0,0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
5,4933459,18,1480123,12.0,2023,1,0.0,0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
6,7517562,18,1480124,12.0,2023,3,0.0,0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
7,7513971,18,1480125,12.0,2023,7,0.0,0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
8,4933691,18,1480126,12.0,2023,1,0.0,0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
9,4924907,18,1480127,12.0,2023,1,0.0,0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [47]:
result_df.shape

(11624, 726)

In [48]:
pruned_df = result_df.copy()

In [ ]:
# ld_scoresPrime[ld_scoresPrime['studentId']==1488823]['user_IXL Reading']

7238    0
Name: user_IXL Reading, dtype: int64

In [49]:
ld_vendorUsage[ld_vendorUsage['studentId']==1488823]

,districtId,studentId,year,vendorId,active,usageTypeId,weeklyUsageMinutes
42138,18,1488823,2023,11333,0,6,0
42139,18,1488823,2023,72609,0,2,0
42140,18,1488823,2023,140472,0,37,120
42141,18,1488823,2023,140574,0,40,0

In [50]:
ld_trimmedVendorTypes

,usageTypeId,name,utilBucketType,id,product_name,productUse_int
0,1,IXL Reading Non,nonUser,4,IXL Reading,0
1,2,IXL Reading Partial,partialUser,5,IXL Reading,1
2,3,IXL Reading User,fullUser,6,IXL Reading,2
3,4,IXL Math Non User,nonUser,7,IXL Math,0
4,5,IXL Math Partial,partialUser,8,IXL Math,1
5,6,IXL Math User,fullUser,9,IXL Math,2
6,7,MyOn R User,fullUser,853,MyOn R,2
7,8,MyOn R Partial User,partialUser,854,MyOn R,1
8,9,MyOn R Non User,nonUser,855,MyOn R,0
9,10,Freckle R User,fullUser,1130,Freckle R,2
10,11,Freckle R Partial User,partialUser,1131,Freckle R,1
11,12,Freckle R Non User,nonUser,1132,Freckle R,0
12,13,Freckle M User,fullUser,1133,Freckle M,2
13,14,Freckle M Partial User,partialUser,1134,Freckle M,1
14,15,Freckle M Non User,nonUser,1135,Freckle M,0
15,16,Freckle Sci User,fullUser,1911,Freckle Sci,2
16,17,Freckle Sci Partial User,partialUser,1912,Freckle Sci,1
17,18,Freckle Sci NonUser,nonUser,1913,Freckle Sci,0
18,19,Freckle SS User,fullUser,1914,Freckle SS,2
19,20,Freckle SS PartialUser,partialUser,1915,Freckle SS,1
20,21,Freckle SS NonUser,nonUser,1916,Freckle SS,0
21,22,IXL Science User,fullUser,4302,IXL Science,2
22,24,IXL Science Non User,nonUser,4303,IXL Science,0
23,23,IXL Science Partial,partialUser,4304,IXL Science,1
24,25,IXL SS User,fullUser,4305,IXL SS,2
25,27,IXL SS Non,nonUser,4306,IXL SS,0
26,26,IXL SS Partial,partialUser,4307,IXL SS,1
27,28,Freckle M Adaptive User,fullUser,5754,Freckle M Adaptive,2
28,29,Freckle M Adaptive Partial User,partialUser,5755,Freckle M Adaptive,1
29,30,Freckle M Adaptive Non User,nonUser,5756,Freckle M Adaptive,0
30,31,Freckle M Target User,fullUser,5757,Freckle M Target,2
31,32,Freckle M Target Partial User,partialUser,5758,Freckle M Target,1
32,33,Freckle M Target Non User,nonUser,5759,Freckle M Target,0
33,34,Beable ELA User,fullUser,6038,Beable ELA,2
34,35,Beable ELA Partial User,partialUser,6039,Beable ELA,1
35,36,Beable ELA Non User,nonUser,6040,Beable ELA,0
36,37,AR User,fullUser,11276,AR,2
37,38,AR Partial User,partialUser,11277,AR,1
38,39,AR Non User,nonUser,11278,AR,0
39,40,Reflex M User,fullUser,11680,Reflex M,2
40,41,Reflex M Partial User,partialUser,11681,Reflex M,1
41,42,Reflex M Non User,nonUser,11682,Reflex M,0
42,43,Frax M User,fullUser,11704,Frax M,2
43,44,Frax M Partial User,partialUser,11705,Frax M,1
44,45,Frax M Non User,nonUser,11706,Frax M,0

In [54]:
def translateMeasureIdToTarget(row, reference, target):
  #print(row)
  studentId = row['studentId']
  usageTypeId = row['usageTypeId']
  productItem = ld_trimmedVendorTypes[ld_trimmedVendorTypes['usageTypeId'] == usageTypeId]
  productName = productItem['product_name'].iloc[0]
  productUse_int = productItem['productUse_int'].iloc[0]
  rowToPopulate = -1
  try:
    columnToPopulate = "user_"+productName
    rowToPopulate = target[target['studentId'] == studentId].index[0]
  except IndexError:
    print(f"Student ID {studentId} not found in target.")

  if rowToPopulate == -1:
    return
  target.loc[rowToPopulate, columnToPopulate] = productUse_int

  #print('Student ID: ' + str(studentId) + ' Product: ' + productName + ' ProductUse_int: ' + str(productUse_int))
  return

In [55]:
for currRow in range(0, ld_trimmedVendorUsage.shape[0]):
  translateMeasureIdToTarget(row=ld_trimmedVendorUsage.loc[currRow], reference=ld_trimmedVendorTypes, target=pruned_df)

Student ID 1480143 not found in target.
Student ID 1480143 not found in target.
Student ID 1480143 not found in target.
Student ID 1480148 not found in target.
Student ID 1480148 not found in target.
Student ID 1480148 not found in target.
Student ID 1480157 not found in target.
Student ID 1480157 not found in target.
Student ID 1480157 not found in target.
Student ID 1480185 not found in target.
Student ID 1480185 not found in target.
Student ID 1480185 not found in target.
Student ID 1480185 not found in target.
Student ID 1480185 not found in target.
Student ID 1480196 not found in target.
Student ID 1480196 not found in target.
Student ID 1480196 not found in target.
Student ID 1480220 not found in target.
Student ID 1480220 not found in target.
Student ID 1480220 not found in target.
Student ID 1480225 not found in target.
Student ID 1480225 not found in target.
Student ID 1480225 not found in target.
Student ID 1480225 not found in target.
Student ID 1480225 not found in target.
Student ID 1480316 not found in target.
Student ID 1480316 not found in target.
Student ID 1480316 not found in target.
Student ID 1480316 not found in target.
Student ID 1480316 not found in target.
Student ID 1480331 not found in target.
Student ID 1480333 not found in target.
Student ID 1480337 not found in target.
Student ID 1480337 not found in target.
Student ID 1480337 not found in target.
Student ID 1480337 not found in target.
Student ID 1480337 not found in target.
Student ID 1480349 not found in target.
Student ID 1480356 not found in target.
Student ID 1480356 not found in target.
Student ID 1480356 not found in target.
Student ID 1480356 not found in target.
Student ID 1480356 not found in target.
Student ID 1480363 not found in target.
Student ID 1480366 not found in target.
Student ID 1480367 not found in target.
Student ID 1480379 not found in target.
Student ID 1480390 not found in target.
Student ID 1480390 not found in target.
Student ID 1480390 not found in target.
Student ID 1480390 not found in target.
Student ID 1480390 not found in target.
Student ID 1480397 not found in target.
Student ID 1480397 not found in target.
Student ID 1480397 not found in target.
Student ID 1480397 not found in target.
Student ID 1480397 not found in target.
Student ID 1480401 not found in target.
Student ID 1480401 not found in target.
Student ID 1480401 not found in target.
Student ID 1480401 not found in target.
Student ID 1480401 not found in target.
Student ID 1480475 not found in target.
Student ID 1480478 not found in target.
Student ID 1480478 not found in target.
Student ID 1480478 not found in target.
Student ID 1480478 not found in target.
Student ID 1480478 not found in target.
Student ID 1480498 not found in target.
Student ID 1480498 not found in target.
Student ID 1480498 not found in target.
Student ID 1480501 not found in target.
Student ID 1480501 not found in target.
Student ID 1480501 not found in target.
Student ID 1480501 not found in target.
Student ID 1480501 not found in target.
Student ID 1480505 not found in target.
Student ID 1480505 not found in target.
Student ID 1480505 not found in target.
Student ID 1480508 not found in target.
Student ID 1480514 not found in target.
Student ID 1480514 not found in target.
Student ID 1480514 not found in target.
Student ID 1480514 not found in target.
Student ID 1480514 not found in target.
Student ID 1480517 not found in target.
Student ID 1480517 not found in target.
Student ID 1480517 not found in target.
Student ID 1480517 not found in target.
Student ID 1480517 not found in target.
Student ID 1480537 not found in target.
Student ID 1480537 not found in target.
Student ID 1480537 not found in target.
Student ID 1480540 not found in target.
Student ID 1480540 not found in target.
Student ID 1480540 not found in target.
Student ID 1480540 not found in target.
Student ID 1480540 not found in target.
Student ID 1480544 not found in target.
Student ID 1480544 not found in target.
Student ID 1480544 not found in target.
Student ID 1480548 not found in target.
Student ID 1480548 not found in target.
Student ID 1480548 not found in target.
Student ID 1480555 not found in target.
Student ID 1480555 not found in target.
Student ID 1480555 not found in target.
Student ID 1480555 not found in target.
Student ID 1480555 not found in target.
Student ID 1480563 not found in target.
Student ID 1480563 not found in target.
Student ID 1480563 not found in target.
Student ID 1480563 not found in target.
Student ID 1480563 not found in target.
Student ID 1480589 not found in target.
Student ID 1480589 not found in target.
Student ID 1480589 not found in target.
Student ID 1480603 not found in target.
Student ID 1480603 not found in target.
Student ID 1480603 not found in target.
Student ID 1480603 not found in target.
Student ID 1480603 not found in target.
Student ID 1480611 not found in target.
Student ID 1480611 not found in target.
Student ID 1480611 not found in target.
Student ID 1480617 not found in target.
Student ID 1480617 not found in target.
Student ID 1480617 not found in target.
Student ID 1480617 not found in target.
Student ID 1480617 not found in target.
Student ID 1480618 not found in target.
Student ID 1480618 not found in target.
Student ID 1480618 not found in target.
Student ID 1480618 not found in target.
Student ID 1480618 not found in target.
Student ID 1480625 not found in target.
Student ID 1480625 not found in target.
Student ID 1480625 not found in target.
Student ID 1480633 not found in target.
Student ID 1480633 not found in target.
Student ID 1480633 not found in target.
Student ID 1480633 not found in target.
Student ID 1480633 not found in target.
Student ID 1480640 not found in target.
Student ID 1480640 not found in target.
Student ID 1480640 not found in target.
Student ID 1480640 not found in target.
Student ID 1480640 not found in target.
Student ID 1480643 not found in target.
Student ID 1480643 not found in target.
Student ID 1480643 not found in target.
Student ID 1480643 not found in target.
Student ID 1480643 not found in target.
Student ID 1480648 not found in target.
Student ID 1480648 not found in target.
Student ID 1480648 not found in target.
Student ID 1480648 not found in target.
Student ID 1480648 not found in target.
Student ID 1480672 not found in target.
Student ID 1480742 not found in target.
Student ID 1480742 not found in target.
Student ID 1480742 not found in target.
Student ID 1480748 not found in target.
Student ID 1480748 not found in target.
Student ID 1480748 not found in target.
Student ID 1480748 not found in target.
Student ID 1480748 not found in target.
Student ID 1480786 not found in target.
Student ID 1480786 not found in target.
Student ID 1480786 not found in target.
Student ID 1480787 not found in target.
Student ID 1480787 not found in target.
Student ID 1480787 not found in target.
Student ID 1480794 not found in target.
Student ID 1480794 not found in target.
Student ID 1480794 not found in target.
Student ID 1480804 not found in target.
Student ID 1480804 not found in target.
Student ID 1480804 not found in target.
Student ID 1480805 not found in target.
Student ID 1480805 not found in target.
Student ID 1480805 not found in target.
Student ID 1480812 not found in target.
Student ID 1480812 not found in target.
Student ID 1480812 not found in target.
Student ID 1480822 not found in target.
Student ID 1480822 not found in target.
Student ID 1480822 not found in target.
Student ID 1480836 not found in target.
Student ID 1480836 not found in target.
Student ID 1480836 not found in target.
Student ID 1480837 not found in target.
Student ID 1480837 not found in target.
Student ID 1480837 not found in target.
Student ID 1480838 not found in target.
Student ID 1480838 not found in target.
Student ID 1480838 not found in target.
Student ID 1480842 not found in target.
Student ID 1480842 not found in target.
Student ID 1480842 not found in target.
Student ID 1480842 not found in target.
Student ID 1480842 not found in target.
Student ID 1480852 not found in target.
Student ID 1480852 not found in target.
Student ID 1480852 not found in target.
Student ID 1480870 not found in target.
Student ID 1480870 not found in target.
Student ID 1480870 not found in target.
Student ID 1480875 not found in target.
Student ID 1480875 not found in target.
Student ID 1480875 not found in target.
Student ID 1480875 not found in target.
Student ID 1480875 not found in target.
Student ID 1480879 not found in target.
Student ID 1480879 not found in target.
Student ID 1480879 not found in target.
Student ID 1480879 not found in target.
Student ID 1480879 not found in target.
Student ID 1480882 not found in target.
Student ID 1480882 not found in target.
Student ID 1480882 not found in target.
Student ID 1480907 not found in target.
Student ID 1480907 not found in target.
Student ID 1480907 not found in target.
Student ID 1480907 not found in target.
Student ID 1480907 not found in target.
Student ID 1480961 not found in target.
Student ID 1480961 not found in target.
Student ID 1480961 not found in target.
Student ID 1480964 not found in target.
Student ID 1480964 not found in target.
Student ID 1480972 not found in target.
Student ID 1480972 not found in target.
Student ID 1480972 not found in target.
Student ID 1480991 not found in target.
Student ID 1480991 not found in target.
Student ID 1480991 not found in target.
Student ID 1480996 not found in target.
Student ID 1480996 not found in target.
Student ID 1480996 not found in target.
Student ID 1480999 not found in target.
Student ID 1480999 not found in target.
Student ID 1480999 not found in target.
Student ID 1481000 not found in target.
Student ID 1481000 not found in target.
Student ID 1481000 not found in target.
Student ID 1481004 not found in target.
Student ID 1481004 not found in target.
Student ID 1481004 not found in target.
Student ID 1481039 not found in target.
Student ID 1481134 not found in target.
Student ID 1481165 not found in target.
Student ID 1481235 not found in target.
Student ID 1481235 not found in target.
Student ID 1481235 not found in target.
Student ID 1481240 not found in target.
Student ID 1481240 not found in target.
Student ID 1481240 not found in target.
Student ID 1481241 not found in target.
Student ID 1481241 not found in target.
Student ID 1481241 not found in target.
Student ID 1481296 not found in target.
Student ID 1481296 not found in target.
Student ID 1481296 not found in target.
Student ID 1481296 not found in target.
Student ID 1481296 not found in target.
Student ID 1481317 not found in target.
Student ID 1481374 not found in target.
Student ID 1481374 not found in target.
Student ID 1481374 not found in target.
Student ID 1481374 not found in target.
Student ID 1481374 not found in target.
Student ID 1481380 not found in target.
Student ID 1481380 not found in target.
Student ID 1481380 not found in target.
Student ID 1481380 not found in target.
Student ID 1481380 not found in target.
Student ID 1481384 not found in target.
Student ID 1481388 not found in target.
Student ID 1481388 not found in target.
Student ID 1481388 not found in target.
Student ID 1481408 not found in target.
Student ID 1481410 not found in target.
Student ID 1481410 not found in target.
Student ID 1481410 not found in target.
Student ID 1481461 not found in target.
Student ID 1481461 not found in target.
Student ID 1481461 not found in target.
Student ID 1481489 not found in target.
Student ID 1481489 not found in target.
Student ID 1481489 not found in target.
Student ID 1481490 not found in target.
Student ID 1481490 not found in target.
Student ID 1481490 not found in target.
Student ID 1481498 not found in target.
Student ID 1481498 not found in target.
Student ID 1481498 not found in target.
Student ID 1481518 not found in target.
Student ID 1481518 not found in target.
Student ID 1481518 not found in target.
Student ID 1481519 not found in target.
Student ID 1481519 not found in target.
Student ID 1481519 not found in target.
Student ID 1481542 not found in target.
Student ID 1481542 not found in target.
Student ID 1481542 not found in target.
Student ID 1481543 not found in target.
Student ID 1481543 not found in target.
Student ID 1481543 not found in target.
Student ID 1481543 not found in target.
Student ID 1481543 not found in target.
Student ID 1481549 not found in target.
Student ID 1481549 not found in target.
Student ID 1481549 not found in target.
Student ID 1481551 not found in target.
Student ID 1481551 not found in target.
Student ID 1481551 not found in target.
Student ID 1481574 not found in target.
Student ID 1481574 not found in target.
Student ID 1481574 not found in target.
Student ID 1481580 not found in target.
Student ID 1481580 not found in target.
Student ID 1481580 not found in target.
Student ID 1481581 not found in target.
Student ID 1481581 not found in target.
Student ID 1481581 not found in target.
Student ID 1481581 not found in target.
Student ID 1481581 not found in target.
Student ID 1481590 not found in target.
Student ID 1481590 not found in target.
Student ID 1481590 not found in target.
Student ID 1481590 not found in target.
Student ID 1481590 not found in target.
Student ID 1481594 not found in target.
Student ID 1481594 not found in target.
Student ID 1481594 not found in target.
Student ID 1481594 not found in target.
Student ID 1481594 not found in target.
Student ID 1481608 not found in target.
Student ID 1481608 not found in target.
Student ID 1481608 not found in target.
Student ID 1481608 not found in target.
Student ID 1481608 not found in target.
Student ID 1481610 not found in target.
Student ID 1481610 not found in target.
Student ID 1481610 not found in target.
Student ID 1481613 not found in target.
Student ID 1481613 not found in target.
Student ID 1481613 not found in target.
Student ID 1481616 not found in target.
Student ID 1481616 not found in target.
Student ID 1481616 not found in target.
Student ID 1481616 not found in target.
Student ID 1481616 not found in target.
Student ID 1481621 not found in target.
Student ID 1481621 not found in target.
Student ID 1481621 not found in target.
Student ID 1481630 not found in target.
Student ID 1481630 not found in target.
Student ID 1481630 not found in target.
Student ID 1481632 not found in target.
Student ID 1481635 not found in target.
Student ID 1481635 not found in target.
Student ID 1481635 not found in target.
Student ID 1481655 not found in target.
Student ID 1481655 not found in target.
Student ID 1481655 not found in target.
Student ID 1481661 not found in target.
Student ID 1481661 not found in target.
Student ID 1481661 not found in target.
Student ID 1481661 not found in target.
Student ID 1481661 not found in target.
Student ID 1481664 not found in target.
Student ID 1481664 not found in target.
Student ID 1481664 not found in target.
Student ID 1481669 not found in target.
Student ID 1481669 not found in target.
Student ID 1481669 not found in target.
Student ID 1481669 not found in target.
Student ID 1481669 not found in target.
Student ID 1481672 not found in target.
Student ID 1481672 not found in target.
Student ID 1481672 not found in target.
Student ID 1481695 not found in target.
Student ID 1481695 not found in target.
Student ID 1481695 not found in target.
Student ID 1481698 not found in target.
Student ID 1481698 not found in target.
Student ID 1481698 not found in target.
Student ID 1481699 not found in target.
Student ID 1481699 not found in target.
Student ID 1481699 not found in target.
Student ID 1481704 not found in target.
Student ID 1481704 not found in target.
Student ID 1481704 not found in target.
Student ID 1481724 not found in target.
Student ID 1481724 not found in target.
Student ID 1481724 not found in target.
Student ID 1481728 not found in target.
Student ID 1481728 not found in target.
Student ID 1481728 not found in target.
Student ID 1481760 not found in target.
Student ID 1481760 not found in target.
Student ID 1481760 not found in target.
Student ID 1481790 not found in target.
Student ID 1481790 not found in target.
Student ID 1481790 not found in target.
Student ID 1481790 not found in target.
Student ID 1481790 not found in target.
Student ID 1481797 not found in target.
Student ID 1481797 not found in target.
Student ID 1481797 not found in target.
Student ID 1481797 not found in target.
Student ID 1481797 not found in target.
Student ID 1481802 not found in target.
Student ID 1481802 not found in target.
Student ID 1481802 not found in target.
Student ID 1481802 not found in target.
Student ID 1481802 not found in target.
Student ID 1481810 not found in target.
Student ID 1481810 not found in target.
Student ID 1481810 not found in target.
Student ID 1481810 not found in target.
Student ID 1481810 not found in target.
Student ID 1481830 not found in target.
Student ID 1481830 not found in target.
Student ID 1481830 not found in target.
Student ID 1481843 not found in target.
Student ID 1481843 not found in target.
Student ID 1481843 not found in target.
Student ID 1481902 not found in target.
Student ID 1481902 not found in target.
Student ID 1481902 not found in target.
Student ID 1481902 not found in target.
Student ID 1481902 not found in target.
Student ID 1481908 not found in target.
Student ID 1481908 not found in target.
Student ID 1481908 not found in target.
Student ID 1481911 not found in target.
Student ID 1481911 not found in target.
Student ID 1481911 not found in target.
Student ID 1481911 not found in target.
Student ID 1481911 not found in target.
Student ID 1481918 not found in target.
Student ID 1481918 not found in target.
Student ID 1481918 not found in target.
Student ID 1481918 not found in target.
Student ID 1481918 not found in target.
Student ID 1481936 not found in target.
Student ID 1481936 not found in target.
Student ID 1481936 not found in target.
Student ID 1482127 not found in target.
Student ID 1482127 not found in target.
Student ID 1482127 not found in target.
Student ID 1482127 not found in target.
Student ID 1482127 not found in target.
Student ID 1482294 not found in target.
Student ID 1482294 not found in target.
Student ID 1482294 not found in target.
Student ID 1482353 not found in target.
Student ID 1482353 not found in target.
Student ID 1482353 not found in target.
Student ID 1482358 not found in target.
Student ID 1482358 not found in target.
Student ID 1482358 not found in target.
Student ID 1482358 not found in target.
Student ID 1482358 not found in target.
Student ID 1482404 not found in target.
Student ID 1482404 not found in target.
Student ID 1482404 not found in target.
Student ID 1482404 not found in target.
Student ID 1482404 not found in target.
Student ID 1482439 not found in target.
Student ID 1482439 not found in target.
Student ID 1482439 not found in target.
Student ID 1482814 not found in target.
Student ID 1482814 not found in target.
Student ID 1482814 not found in target.
Student ID 1482814 not found in target.
Student ID 1482814 not found in target.
Student ID 1482814 not found in target.
Student ID 1482814 not found in target.
Student ID 1482832 not found in target.
Student ID 1482832 not found in target.
Student ID 1482832 not found in target.
Student ID 1482832 not found in target.
Student ID 1482837 not found in target.
Student ID 1482837 not found in target.
Student ID 1482837 not found in target.
Student ID 1482837 not found in target.
Student ID 1482837 not found in target.
Student ID 1482837 not found in target.
Student ID 1482837 not found in target.
Student ID 1482922 not found in target.
Student ID 1482922 not found in target.
Student ID 1482922 not found in target.
Student ID 1482922 not found in target.
Student ID 1482922 not found in target.
Student ID 1482922 not found in target.
Student ID 1482922 not found in target.

In [58]:
#so how many students did we not cover?
primeVendorUsage = ld_trimmedVendorUsage.drop_duplicates(subset=['studentId'], keep='first')
primeVendorUsage = primeVendorUsage.reset_index(drop=True)
scores_missing = 0

for currRow in range(0, primeVendorUsage.shape[0]):
  if pruned_df[pruned_df['studentId']==(primeVendorUsage.loc[currRow]['studentId'])].empty:
    scores_missing += 1
print("Students missing in scores data (ideally is 0): " + str(scores_missing))

products_missing = 0

for currRow in range(0, pruned_df.shape[0]):
  if primeVendorUsage[primeVendorUsage['studentId']==(pruned_df.loc[currRow]['studentId'])].empty:
    products_missing += 1
print("Students without product data (not unexpected to be nonzero): " + str(products_missing))

Students missing in scores data (ideally is 0): 692
Students without product data (not unexpected to be nonzero): 662

In [59]:
# prompt: make a dataframe with one column: studentId, populated with all the unique studentIds from primeVendorUsage. Add one more column called 'existsInScores'.

# Create an empty DataFrame with 'studentId' and 'existsInScores' columns
student_existence_df = pd.DataFrame(columns=['studentId', 'existsInScores'])

# Iterate through unique student IDs in primeVendorUsage
for student_id in primeVendorUsage['studentId'].unique():
  # Check if the student ID exists in ld_scoresPrime
  exists_in_scores = not pruned_df[pruned_df['studentId'] == student_id].empty

  # Append a new row to the DataFrame with the student ID and existence status
  student_existence_df = pd.concat([student_existence_df, pd.DataFrame({'studentId': [student_id], 'existsInScores': [exists_in_scores]})], ignore_index=True)

# Print the resulting DataFrame
print(student_existence_df)

NameError: name 'ld_scoresPrime' is not defined

In [60]:
student_existence_df['existsInScores'].value_counts()

Series([], Name: count, dtype: int64)

In [61]:
student_existence_df.to_csv('/content/drive/MyDrive/Level Data Datasets/vendorUsagetoScoresExistence.csv')

In [62]:
students_sans_scores_df = student_existence_df[student_existence_df['existsInScores']==False]
students_sans_scores_df.to_csv('/content/drive/MyDrive/Level Data Datasets/vendorStudentsSansScores.csv')

In [64]:
user_cols = pruned_df.filter(regex='^user_').columns
for column in user_cols:
  print(pruned_df[column].value_counts())

user_IXL Reading
2    5515
0    3794
1    2315
Name: count, dtype: int64
user_IXL Math
2    5417
0    3888
1    2319
Name: count, dtype: int64
user_MyOn R
0    11624
Name: count, dtype: int64
user_Freckle R
0    11624
Name: count, dtype: int64
user_Freckle M
0    11624
Name: count, dtype: int64
user_Freckle Sci
0    11624
Name: count, dtype: int64
user_Freckle SS
0    11624
Name: count, dtype: int64
user_IXL Science
0    10822
1      602
2      200
Name: count, dtype: int64
user_IXL SS
0    11252
1      259
2      113
Name: count, dtype: int64
user_Freckle M Adaptive
0    11624
Name: count, dtype: int64
user_Freckle M Target
0    11624
Name: count, dtype: int64
user_Beable ELA
0    11624
Name: count, dtype: int64
user_AR
0    8996
2    1683
1     945
Name: count, dtype: int64
user_Reflex M
0    10459
1     1004
2      161
Name: count, dtype: int64
user_Frax M
0    11624
Name: count, dtype: int64

It looks like we can eliminate the following products, since no students in the districts use them:
 - Frax M
 - Freckle M
 - Freckle M Target
 - Freckle M Adaptive
 - Beable ELA
 - Freckle R
 - Freckle Sci
 - Freckle SS
 - MyOn R

 So, the vendor products we **can** start to look at follow:
 - Reflex M
 - AR
 - IXL SS
 - IXL Science
 - IXL Math
 - IXL Reading

In [65]:
user_cols_drop = ['user_MyOn R', 'user_Freckle R', 'user_Freckle M', 'user_Freckle Sci', 'user_Freckle SS', 'user_Freckle M Adaptive', 'user_Freckle M Target', 'user_Beable ELA', 'user_Frax M']
pruned_df = pruned_df.drop(columns=user_cols_drop)

In [67]:
pruned_df['user_IXL SS'].value_counts()

user_IXL SS
0    11252
1      259
2      113
Name: count, dtype: int64

In [68]:
pruned_df.head()

,id,districtId,studentId,studentLevel,year,measurementTypeId,subgroup_specialEd,subgroup_lunchStatus,subgroup_gender,subgroup_ell,...,value_AcapSciRc4,value_fsaWriting,value_fsaWritingLevel,value_acadienceReadingCompositeLevel,user_IXL Reading,user_IXL Math,user_IXL Science,user_IXL SS,user_AR,user_Reflex M
0,3268686,18,1480117,11.0,2023,4,0.0,0,0.0,0.0,...,0.0,0,0,0,2,2,0,0,0,0
1,4933508,18,1480118,12.0,2023,1,0.0,0,0.0,0.0,...,0.0,0,0,0,2,2,0,0,0,0
2,4933512,18,1480120,12.0,2023,1,0.0,0,0.0,0.0,...,0.0,0,0,0,2,2,0,0,0,0
3,7517559,18,1480121,12.0,2023,3,0.0,0,0.0,0.0,...,0.0,0,0,0,2,2,0,0,0,0
4,4933502,18,1480122,12.0,2023,1,0.0,0,0.0,0.0,...,0.0,0,0,0,2,2,0,0,0,0

In [69]:
pruned_df.to_csv(r'/content/drive/MyDrive/Level Data Datasets/District_18_pruned_score_averages.csv', index=False)

In [70]:
verify_averages = pd.read_csv(r'/content/drive/MyDrive/Level Data Datasets/District_18_pruned_score_averages.csv')
verify_averages.head()

,id,districtId,studentId,studentLevel,year,measurementTypeId,subgroup_specialEd,subgroup_lunchStatus,subgroup_gender,subgroup_ell,...,value_AcapSciRc4,value_fsaWriting,value_fsaWritingLevel,value_acadienceReadingCompositeLevel,user_IXL Reading,user_IXL Math,user_IXL Science,user_IXL SS,user_AR,user_Reflex M
0,3268686,18,1480117,11.0,2023,4,0.0,0,0.0,0.0,...,0.0,0,0,0,2,2,0,0,0,0
1,4933508,18,1480118,12.0,2023,1,0.0,0,0.0,0.0,...,0.0,0,0,0,2,2,0,0,0,0
2,4933512,18,1480120,12.0,2023,1,0.0,0,0.0,0.0,...,0.0,0,0,0,2,2,0,0,0,0
3,7517559,18,1480121,12.0,2023,3,0.0,0,0.0,0.0,...,0.0,0,0,0,2,2,0,0,0,0
4,4933502,18,1480122,12.0,2023,1,0.0,0,0.0,0.0,...,0.0,0,0,0,2,2,0,0,0,0